[submodule "libs/glslang"]
	path = libs/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "libs/assimp"]
	path = libs/assimp
	url = https://github.com/assimp/assimp.git
[submodule "libs/GLFW/glfw"]
	path = libs/GLFW/glfw
	url = https://github.com/glfw/glfw.git
